@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2373db !default;

$grey-color:       #757575 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Header logo

.site-title {
  float: none !important;
}

.site-logo {
  display:block;
  margin:auto;
  padding: 0.5em;
}

.site-nav {
  float: none !important;
  text-align: center;
}



// Use media queries like this:
// @include media-query($on-palm) {
  //   .wrapper {
    //     padding-right: $spacing-unit / 2;
    //     padding-left: $spacing-unit / 2;
    //   }
    // }
    @mixin media-query($device) {
      @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
"minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
  ;

// Custom

// Piped List
.piped-list {
  position: relative;
  overflow: hidden;
}
.piped-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}     
.piped-list ul li {
  list-style: none;
  margin: .25em 0;
  padding: 0;
  text-align: center;
}
li + li::before {
  content: "|";
  margin: 0 .5em;
}